<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5e" >

  <!-- common stuff -->
  <xacro:include filename="$(find trac_ik_examples)/urdf/common.gazebo.xacro" />

  <!-- ur5e -->
  <xacro:include filename="$(find trac_ik_examples)/urdf/ur5e_description/ur5e.urdf.xacro" />

  <!-- arm -->
  <xacro:arg name="kinematics_config" default="$(find trac_ik_examples)/urdf/ur5e_description/ur5e_default.yaml"/>
  <xacro:ur5e_robot prefix="" joint_limited="false"
    kinematics_file="${load_yaml('$(arg kinematics_config)')}"
    />

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
